.addAddressD{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addAddressD .heading-div{
    background-color: #e65a3a;
    padding: 10px 24px;
    width: 39rem;
    border: 3px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 21rem;
    color: white;
}
.addAddressD .detailFields{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 30rem;
    width: 40rem;
    border: 3px solid #dadada;
    border-radius: 5px;
    padding: 1rem;
    border-top: none;
}
.addAddressD .detailFields input{
    padding: 10px;
    margin-right: 25px;
    border-radius: 9px;
    border: 1px solid #999999;
}
.addAddressD .detailFields select{
    padding: 10px;
    width: 18.5rem;
    border-radius: 9px;
    border: 1px solid #999999;
}

.addAddressD .detailFields .form-div{
    display: flex;
    flex-direction: column;
}
.addAddressD .detailFields .btn-add{
    height: 2.9rem;
    width: 9rem;
    font-size: 0.9rem;
    padding: 5px 10px;
    background-color:#477bf4;
    border-radius: 9px;
    border: none;
    color: white;
    margin-top: 1.4rem;
    margin-left: 6rem;
    cursor: pointer;
}
@media screen and (max-width: 425px) {

    .addAddressD .detailFields{
        grid-template-columns: repeat(1, 1fr);
        height: 50rem;
        width: 23rem;
        padding: 8px;
    }   
    .addAddressD .heading-div{
        padding: 10px 12px;
        width: 22.8rem;
        gap: 3rem;
        font-size: 0.9rem;
    }
    .addAddressD{
        justify-content: center;
        margin-top: 3rem;
        margin-left: 4rem;
    }
    .addAddressD .detailFields select{
        width: 21.5rem;
    }
}
