#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#id::-webkit-outer-spin-button,
#id::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.employeeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.employeeContainer .employeeFields {
  height: 25rem;
  width: 30rem;
  border: 2px solid rgb(212, 212, 212);
  display: grid;
  grid-template-columns: repeat(2, 1.6fr);
  padding: 2rem;
  border-radius: 30px 0;
  background: white;
}
.employeeContainer .employeeFields input {
  height: 1.3rem;
  padding: 10px;
  border-radius: 10px;
  border: 1.2px solid #6f6f6f;
  background: white;
  color: #47437a;
}
.employeeContainer .employeeFields .shift {
  height: 2.5rem;
  width: 12rem;
  padding: 10px;
  border-radius: 10px;
  border: 1.2px solid #6f6f6f;
  background: white;
  color: #47437a;
}
.employeeContainer .employeeFields .btn-submit {
  height: 3rem;
  padding: 3px;
  border-radius: 10px;
  background: #1067ca;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  width: 12rem;
  margin-top: 20px;
}
.employeeContainer .employeeFields .heading {
  /* margin-top: -1rem; */
  background: white;
}
.employeeContainer .employeeFields label,
.form-div {
  background: white;
}

.hrms-image {
  height: 29.3rem;
  width: 33rem;
  border-radius: 0 25px;
}

@media only screen and (max-width: 1024px) {
  .employeeContainer {
    flex-direction: column;
    height: 100vw;
    margin: 5rem 0;
  }
  .hrms-image {
    width: 34.5rem;
  }
  .employeeContainer .employeeFields .btn-submit {
    width: 12rem;
  }
  .employeeContainer .employeeFields label {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .employeeContainer .employeeFields {
    grid-template-columns: repeat(2, 1.6fr);
    flex: 1;
    width: 30rem;
    height: 30rem;
  }

  .hrms-image {
    width: 34rem;
    height: 25rem;
    margin-bottom: 5rem;
  }
  .employeeContainer .employeeFields input {
    margin: 10px;
    flex: 30%;
    display: grid;
  }
}
@media only screen and (max-width: 425px) {
  .employeeContainer {
    height: 100vh;
    width: 150vw;
    margin-top: 15rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .employeeContainer .employeeFields {
    grid-template-columns: repeat(2, 1.6fr);
    flex: 1;
    width: 30rem;
    height: 30rem;
  }

  .hrms-image {
    width: 34rem;
    height: 25rem;
}
}
