.navbar {
  background: #fff;
  color: black;
  padding: 1rem 2.5rem;
  box-shadow: rgb(0 0 0/10%) 0px 4px 10px;
  /* z-index: 20; */
}
.navbar .side-menu_active {
  height: 100vh;
  width: 100vw; 
}
.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar .navbar-ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.navbar .navbar-ul li {
  justify-self: flex-end;
  margin: 0 1rem;
  float: right;
  color: black;
  transition: 100ms;
}
.navbar .navbar-ul li:hover {
  border-bottom: 3px solid #119acc;
}
.navbar .side-menu {
  height: 100%;
  width: 20%;
  top: 0;
  position: absolute;
  left: -90%;
  border-right: 3px solid #c9c9c9;
  border-bottom: 3px solid #c9c9c9;
  border-radius: 10px;
  z-index: 10;
  border-top: 1px solid #eee;
  background-color: white;
}
.navbar .side-menu_active {
  top: 0;
  height: 100%;
  width: 30%;
  position: absolute;
  left: 0;
  border-right: 3px solid #c9c9c9;
  border-bottom: 3px solid #e7e7e7;
  border-radius: 10px;
  z-index: 10;
  border-top: 1px solid #eee;
  background-color: white;
  transition: left 500ms;
  transition-timing-function: cubic-bezier(99, 100, .1, .1);
}
.navbar .side-menu-list-div {
  padding: 1rem;
  padding-left: 0;
}
.navbar .side-menu-list-div .menu-logo-div{
  display: flex;
  align-items: center;
  padding: 7px 1rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #e2e2e2;
}
.navbar .side-menu-list-div .sidemenu-link {
  color: rgb(75, 75, 75);
  text-decoration: none;
  font-size: 1.1rem;
  max-width: 100%;
  transition-timing-function: cubic-bezier(0.1, 0.1, .1, 0.1);
}
.navbar .side-menu-list-div .sidemenu-link:hover {
  color: white;
}
.navbar .side-menu-list-div li {
  list-style-type: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 1rem;
  border-radius: 0px 25px 25px 0;
  border-bottom: 3px solid #eee;
}
.navbar .side-menu-list-div .sidemenu-link:hover li {
  color: white;
}
.navbar .side-menu-list-div .sidemenu-link:hover li {
  background-color: #0e82cf;
}
.navbar .side-menu-list-div li:hover {
  border-bottom: 3px solid #7790a5;
}
.navbar .gtm-logo {
  height: 80px;
}
.navbar .gtm-logo::selection {
  background: none;
  color: none;
}

@media screen and (max-width: 1024px) {
  .navbar .container {
    gap: 25rem;
  }
  .navbar .side-menu_active {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .navbar .container {
    gap: 16rem;
  }
  .navbar .side-menu_active {
    width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .navbar .container {
    gap: 1rem;
    font-size: 13px;
    min-width: 30rem;
    width: 30rem !important;
  }

  .navbar .gtm-logo {
    height: 30px;
    margin-left: 3rem;
  }
  .navbar .side-menu_active {
    width: 100%;
    height: 100vh;
  }
}
