.holidays-page {
  width: 450px;
  margin: 0 auto;
  padding: 20px;
}

.holiday-form {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 2rem 2rem;
  box-shadow: rgb(0 0 0/ 20%) 0px 4px 20px;
  margin-top: 1rem;
}
.holiday-form h2 {
  margin-bottom: 2rem;
}

.holiday-form label {
  display: block;
  margin-bottom: 5px;
}

.holiday-form input,
.holiday-form textarea {
  width: 22rem;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 22rem;
  max-height: 4rem;
}

.add-holiday {
  height: 3rem;
  font-size: 1.1rem;
  width: 50%;
  margin: 10px 7rem;
  background: rgb(33, 97, 170);
  border: none;
  color: white;
  font-weight: 100;
  border-radius: 5px;
}
.serial-name {
  display: flex;
  align-items: center;
}
.holidays-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.holidays-list .holiday {
  height: 12rem;
  width: 15rem;
  word-break: break-all;
  overflow-y: scroll;
  margin: 10px;
  border-radius: 10px;
  padding: 15px 25px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 20px;
  line-height: 1.8rem;
  transition: 0.2s;
  position: relative;
}
.holidays-list .holiday:hover {
  background-color: rgb(22, 101, 175);
  color: white;
}
.holidays-list .holidays {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
}
.holidays-list .delete-btn{
  border: none;
  width: 100%;
  margin-top: 1.7rem;
  border-radius: 10px;
  background: #da3633;
  margin: 10px 0px;
  color: white;
  padding: 12px;
}
@media screen and (max-width: 1100px){
  .holidays-list .holidays {
    grid-template-columns: repeat(1, 1fr);
  }
}