.login .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    border-top: 5px solid;
    border-image:   linear-gradient(to right, #f7a654 33%, #06a551 33%, #06a551 66%,#0098dd 66%, #0098dd 100%, #0098dd 100%) 5;
  }
  
  .login h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .login .icon {
    position: absolute;
    top: 2.2rem;
    left: 12px;
    color: #888888;
  }
  
  .login .input-field {
    padding-left: 35px;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
 .login  .input-field:focus {
    outline: none;
    border-color: dodgerblue;
  }
  
 .login  .btn {
    background-color: dodgerblue;
    color: #ffffff;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login .btn:hover {
    background-color: #2691d9;
  }
  