@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
    display: none;
}
body::-webkit-scrollbar-thumb {
    background: #1f7197; 
    border-radius: 3px;
}
body.active-modal {
  overflow-y: hidden;
}
button{
    cursor: pointer;
}
.no-scroll {
  overflow: hidden;
}

/* Remove spinners from number input fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 10px;
}
li{
  cursor: pointer;
  list-style-type: none;
}
.dotsmenu-div{
  position: relative;
}
.dotsmenu{
display: none;
}
.dotsmenu-div:hover .dotsmenu{
  position: absolute;
  right: 1rem;
  top: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 4rem;
  background-color: white;
  padding: 7px 10px;
  font-size: .9rem;
  border: #5095c0 1px solid;
}
.dotsmenu-div:hover .dotsmenu p{
  cursor: pointer;
}


.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}


